
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #2d2d2d;
}

*,
*:after, 
*:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Container */

.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

/* Header */

.header {
  width: 100%;
  padding: 10px 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.header_logo {
  font-family: 'Dancing Script', cursive;;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  color: #ff3d00;
}

/* Nav */

.nav {
  font-size: 18px;
}

.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;

  color: #ff3d00;
  text-decoration: none;
  position: relative;
}

.nav_link:after {
  content: '';
  position: absolute;
  display: block;
  
  width: 0;
  height: 3.4px;
  left: 50%;
  z-index: -1;
  
  background: #e7e7e7;
  
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
 
  -webkit-transition: width 150ms ease-in-out;
          transition: width 150ms ease-in-out;
}

.nav_link:hover {
  color: #e7e7e7;
}

.nav_link:hover:after {
  width: 110%;
}

/* Home */

.homepage {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 -15px;
}

.homepage-item {
  width: 40%;
  padding: 0 15px;

  color: #ccc;
}

.homepage_header {
  font-size: 4.2vh;
  line-height: 1vh;

  text-align: left;
  font-weight: 700;
}

.homepage_slogan {
  margin: 5.5vh 0;
}

.--orange {
  color: #f95a00;
}

.link_input {
  padding: 10px;
  width: 80%;
  height: 40px;
  
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
  color: #2d2d2d;
  
  background: #d8d8d8;
  border: 1px solid #e7e7e7;
  border-radius: 3px;

  line-height: 1.1;
}

.button_send_uri {
  margin-top: 18px;
  padding: 10px;
  width: 70%;

  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e7;

  border: 0;
  border-radius: 18px;
  background: #ff3d00;
  cursor: pointer;

  -webkit-transition: color 150ms ease-in-out;
          transition: color 150ms ease-in-out;

  -webkit-transition: background 150ms ease-in-out;
          transition: background 150ms ease-in-out;
}

.button_send_uri:hover {
  background: #e7e7e7;
  color: #ff3d00;
}


/* Devices */

.devices {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.ipad {
  position: absolute;

  bottom: -40px;
  height: 500px;
  display: block;
  max-width: 100%;
}

.iphone {
  position: absolute;

  bottom: -90px;
  right: -40px;
  display: block;
  max-width: 100%;
  z-index: 1;
}


/* Footer */

.footer:before {
  content: '';
  position: absolute;
  display: block;

  width: 98%;
  height: .6px;
  left: 50%;
  z-index: -1;
  
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);

  background: #ff3d00;
}

.footer_inner {
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_coll {
  font-size: 14px;
  padding: 0 15px;
  color: #d8d8d8;
}

.footer_link {
  text-decoration: none;
  color: #f95a00;

  -webkit-transition: color 15ms ease-in-out;
          transition: color 15ms ease-in-out;
}

.footer_link:hover {
  color: #d8d8d8;
}

.footer_text {
  margin: 1vh 0;
}

.footer_coll--povered-by {
  width: 30%;
}

.footer_coll--contact-us {
  width: 20%;
}

.footer_coll--sponsor {
  width: 20%;
}

.footer_coll--links {
  width: 30%;
}
